.header img{
    width: 50px;
}
.app_wrapper{
    width: 100%;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
            "h h"
            "n c";
    grid-gap: 10px;
}
.header{
    grid-area: h;
    background: green;
}
.nav{
    grid-area: n;
    background-color: burlywood;
}
.content{
    grid-area: c;
    background-color: cornflowerblue;
}
img{
    width: 90%;
}